@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@400;700&display=swap');

$primaryFont: 'Ubuntu Mono', monospace;;
/*
$secondaryFont: ;
$primaryColor: ;
$secondaryColor: ;
*/

@mixin textNoStyle {
    text-decoration: none;
    list-style: none;
    color: black;
    &:visited {
        text-decoration: none;
    }
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;
    width: 100vw;
    background-color: rgb(15, 72, 128);
    font-family: $primaryFont;
}
section {
    background-color: rgba(255, 255, 255, 0.9);
    width: 50vw;
    height: 50vh;
    gap: 1.5rem;
    border-radius: 15px;
    h1, p {
        padding: .5rem 1rem;
    }
    #ptags {
        text-align: center;
        #ps {
            font-size: .75rem;
            color: gray;
        }
    }
    #message {
        width: 40vw;
        height: 10vh;
        background-color: rgba(255, 255, 255, 0.75);
        border-radius: 15px;
    }
    #generate {
        padding: .5rem 1rem;
        background-color: black;
        border-radius: 5px;
        color: white;
        border: none;
        font-family: $primaryFont;
        cursor: pointer;
    }
}
.flex {
    display: flex;
}
.col {
    flex-direction: column;
}
.row {
    flex-direction: row;
}
.flex-center {
    justify-content: center;
    align-items: center;
}
.textNoStyle {
    @include textNoStyle;
}
.relative {
    position: relative;
}
.absolute {
    position: absolute;
}